*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
}
h1 {
    text-align: center;
    padding: 50px;
}
div:first-child{
    width: 24%;
    margin: auto;
    text-align: center;
    border: 1px solid ;
}
div:nth-child(2) {
    width: 30%;
    margin:15px auto;
    text-align: center;
}
span{
    padding: 10px;
    font-size:50px;
}
button {
    width: 40%;
}
p{
    width: 100%;
}
#toaster{
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    align-items:flex-end;
    width: 200px;
    right: 5px;
    bottom: 5px;
    border:0;
}
.toast{
    font-size: larger;
    font-weight: 900;
    padding: 20px 150px;
    margin: 2px;
    border-radius: 10px;
    animation: showToast 3000ms ease-in-out forwards;
}

@keyframes showToast {
    0%,100% {
        transform: translateX(150%);
        opacity: 0;
    }
    10%,90% {
        transform: translateX(0%);
        opacity: 1;
    }
}